#app-navigation .active a,
#app-navigation li:hover > a,
#app-navigation li:focus > a,
#app-navigation a:focus,
#app-navigation .selected,
#app-navigation .selected a {
  background-color: #FFEDD3;
}

#app-navigation li {
  width: inherit;
}