/* LOGO -------------------------------------------------------------------- */

#header .logo-icon {
  background-image: url(../img/header-logo-icon.png);
  height: 35px;
  margin-left: 15px;
  width: 45px;
}

#header .logo {
  background-image: url(../img/login-logo-icon.png);
  height: 180px;
  width: 256px;
}

#apps-management {
  opacity: 1;
}

#apps {
  word-spacing: -4px;
}

#settings {
  color: #eee;
}

/* HEADER ---------------------------------------------------------------  */

#body-user #header,
#body-settings #header,
#body-public #header {
  background-color: #00ACC1;
}


@media (min-width: 992px) {
  #header .header-hidden {
    display: none;
  }

/* NAVIGATION ------------------------------------------------------------  */
  #navigation {
    width: 80%;
    background-color: transparent;
    box-shadow: none;
    border-radius: 0;
    display: block !important;
    top: 0;
    left: 80px;
  }

  #navigation li {
    border-left: 1px solid #bbb;
  }

  #navigation li:last-child {
    border-right: 1px solid #bbb;
  }

  #navigation a {
    width: 130px;
    height: 45px;
    padding: 5px 0;
  }

  #navigation a span {
    width: auto;
    vertical-align: super;
    padding-left: 5px;
  }

  #navigation a img,
  #navigation a span {
    opacity: .9;
  }

  #navigation a:hover,
  #navigation a:focus,
  #navigation a.active {
    background-color: #0097A7;
  }


/* loading feedback for apps */
  #navigation .app-loading .icon-loading-dark {
    display: inline !important;
    position: absolute;
    top: 8px;
    left: 32px;
    width: 32px;
    height: 32px;
  }
}
