body {
  font-size: 1em;
}

#body-login {
  background-image: url(../img/background-cyan.jpg);
}

#body-login form {
  margin: 0px auto 32px;
}

.searchbox input[type="search"] {
  background: transparent url(../img/actions/search-moe.svg) no-repeat 6px center;
}

.searchbox input[type="search"]:focus,
.searchbox input[type="search"]:active {
  background-color: #f8f8f8;
  color: #009CBE;
}

#controls {
  background-color: #f9f9f9;
  height: 47px;
  border-bottom: 1px solid #eee;
}

