body {
  font-size: 1em;
}

#body-login {
  background-image: url(../img/background-cyan.jpg);
}

#body-login form {
  margin: 0px auto 15px;
}

#body-login #header {
  padding-top: 10%;
}

#body-login .wrapper {
   min-height: 100%;
   margin: 0 auto -50px;
   width: 300px;
}

#body-login footer, #body-login .push {
   height: 5%;
}

.searchbox input[type="search"] {
  background: transparent url(../img/actions/search-moe.svg) no-repeat 6px center;
}

.searchbox input[type="search"]:focus,
.searchbox input[type="search"]:active {
  background-color: #f8f8f8;
  color: #009CBE;
}

#controls {
  background-color: #f9f9f9;
  height: 47px;
  border-bottom: 1px solid #eee;
}

.login-text {
  color: #555;
}

.login-local {
  margin-top: 10px;
  width: 95%;
}

.foot {
  padding: 12px 0;
}

.footer-img {
  display: inline-block;
  content: url(../img/moe_logo.png);
  height: 65%;
  vertical-align: middle;
}

.footer-text {
  display: inline-block;
}
  
.oc-dialog-buttonrow button {
  width: 70px;
  height: 35px;
}

#other-login input[type="button"].mail-edu {
  background: #FFD800;
  color: #333;
  font-size: 13px;
  font-weight: 600;
  padding: 5px;
  width: 95%;
}

#other-login input[type="button"].mail-edu:hover {
  background: #ffe037;
  border-color: #ddd;
  color: #111;
}

#other-login input[type="button"].learning {
  background: #ff84a0;
  color: #333;
  font-size: 13px;
  font-weight: 600;
  padding: 5px;
  width: 95%;
}
#other-login input[type="button"].learning:hover {
  background: #ffb5c6;
  border-color: #ddd;
  color: #111;
}
