
#contains{
    padding-top: 0;
}

.client {
    background: #ddd;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #333;
    display: inline-block;
    margin-right: 10px;
    padding: 5px 10px;
    text-align: center;
}

.client:hover {
    background: #eee;
}

.client-info {
    display: block;
}

.video {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
}
