
#contains{
    padding-top: 0;
}

.client {
    background: #ddd;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #333;
    display: inline-block;
    margin-right: 15px;
    padding: 8px 10px;
    text-align: center;
    width: 112px;
}

.client:hover {
    background: #eee;
}

.client-title {
    color: #17A5C4;
    display: block;
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 15px;
}

.client-text {
    display: block;
    color: #17A5C4;
    margin-bottom: 5px;
}

.client-img {
    width: 18px;
}

.client-info {
    display: block;
}

.client-left {
    display: inline-block;
    width: 512px;
    height: 360px;
    padding: 10px 20px;
}

.client-right {
    display: inline-block;
    text-align: center;
    padding: 10px 20px;
}

.client-store {
    width: 150px;
    margin-right: 15px;
}

.quota-userWithNotAdmin{
    display:none;
}

#content .hascontrols {
    margin-top: 0;
}

#content #controls+.hascontrols {
    margin-top: 45px;
}

table.grid th {
    height: 3em;
}

.clearfix {
    overflow: auto;
}

.margin-bottom {
    margin-bottom: 10px;
}

.spaceIcon {
    width: 16px;
    height: 16px;
}
