#app-navigation li > a[data-navigation=files_favorites],
#app-navigation li > a[data-navigation=shares] {
  display: none;
}

.nav-icon-position {
  background-size: 16px 16px;
  background-position: 14px center;
  background-repeat: no-repeat;
}

#app-navigation .nav-icon-fileList {
	background-image: url('../../files/img/folder.svg');
  padding-left: 44px;
}

#app-navigation 
.nav-icon-fileList-favorites {
  padding-left: 44px;
	background-image: url('../../files/img/star.svg');
}
#app-navigation 
.nav-icon-fileList-sharingin {
  padding-left: 44px;
	background-image: url('../../files/img/share_with_me.svg');
}
#app-navigation
.nav-icon-fileList-sharingout {
  padding-left: 44px;
	background-image: url('../../files/img/share.svg');
}
#app-navigation 
.nav-icon-fileList-sharinglinks {
  padding-left: 44px;
	background-image: url('../../files/img/public.svg');
}
#app-navigation 
.nav-icon-fileList-extstoragemounts {
  padding-left: 44px;
	background-image: url('../../files/img/external.svg');
}
#app-navigation 
.nav-icon-fileList-trashbin {
  padding-left: 44px;
	background-image: url('../../files/img/delete.svg');
  position: fixed;
	bottom: 44px;
}
#app-navigation 
.nav-icon-all {
  padding-left: 44px;
	background-image: url('../img/activity.svg');
}
